<div class="titlebar">
    <a class="menuL title" href="{{ site.baseurl }}/">erikonijn</a>
    <div class="menu">
        <a class="menuL" href="{{ site.baseurl }}/">home</a>
        <a class="menuL" href="{{ site.baseurl }}/gallery">gallery</a>
        <a class="menuL" href="{{ site.baseurl }}/about">about</a>
    </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-106194820-1', 'auto');
  ga('send', 'pageview');

</script>