---
---

//Variables
$prime: #000; //primary color
$prime2: #000; //darker primary color, used for hover effect, click effects, etc
$secondary: #fff;
$insta: #962fbf;
$yt: #f00;
$sc: #ff7700;
$tw: #1da1f2;

@mixin border-box() {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

* {
    margin: 0;
    padding: 0;
}

body {
//    display: flex;
    min-height: 100vh;
    font-family: Courier Prime;
    background-color: #ffc13b;
    color: black;
}

a {
    text-decoration: none;
//    font-style: italic;
    color: white;
    
    &:hover {
        color: black;
    }
}

.titlebar {
    height: 4.5em;
    z-index: 2;
    width: 98%;
    margin-left: 1%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center !important; /* align vertical */
    position: fixed;
    
    a {
        
    }
    .title {
        
    }
}

.body {
    text-align: center;
    width: 100%;
    min-height: 80vh;
    padding: 0;
    margin: 0;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center !important; /* align vertical */
    
    p {
        margin-bottom: 8pt;
    }
    
    .wrap {
        width: 60em;
        max-width: 90%;
        justify-content: center;
        
        ul {
            display: inline-block;
            width: 60%;
        }
    }
}

.selfportrait {
    height:140pt;
    width: 140pt;
}

@media only screen and (max-width: 1070px) {  //collapse menu at width 1420px or smaller (that's when menu breaks)
    .title {
        display: none!important;
//        visibility: hidden;
    }
    .titlebar {
        display: inline-block;
        height: 15.5em;
        position: absolute;
        .menuL {
            display: block;
            text-align: center;
        }
        a.links {
            display: block;
        }
    }
//    .wrap {
//        margin-top: 10em !important;
//    }
//    h3 {
//        margin-top: 0!important;
//    }
}





