---
---

//Variables
$prime: #000; //primary color
$prime2: #000; //darker primary color, used for hover effect, click effects, etc
$secondary: #fff;
$tertiary: #fff;
$tertiary2: #fff;

@mixin border-box() {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

* {
    margin: 0;
    padding: 0;
}

body {
//    display: flex;
    min-height: 100vh;
    font-family: Product Sans;
    background-color: #fff;
    color: $prime;
}

a {
    text-decoration: none;
}

.titlebar {
    background-color: $secondary;
    height: 4.5em;
    z-index: 2;
    width: 98%;
    margin-left: 1%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center !important; /* align vertical */
    border-bottom: 5px solid $prime;
    position: fixed;
    
    a {
        align-items: center !important; /* align vertical */
        color: $prime;
        font-size: 3.1em;
        padding: 0 .5em;
        @include border-box();
        height: 100%;
        cursor: pointer;
        font-weight: 500;
        border-bottom: 0px solid black;
        transition: border .05s;
        
        &.title {
            font-weight: 900;
        }
        
        &:hover {
//            background-color: #ddd;
            border-bottom: 5px solid black;
        }
    }
    .title {
        left: 0;
        position: absolute;
        height: 1.3em;
    }
}

.body {
    text-align: center;
    width: 100%;
    font-size: 2em;
    padding: 0;
    margin: 0;
    
    .wrap {
        width: 90%;
        max-width: 30em;
        text-align: left;
        display: inline-block;
        padding-bottom: 2.5em;
        margin-top: 4em;
//        background-color: red;
    }
    
    h1 {
        padding: .35em 0 .05em 0;
    }
    
    h3 {
        font-weight: 500;
        text-align: center;
        margin-top: 1.5em;
        font-size: 2.5em;
    }
    
    p, li {
        padding-bottom: .1em;
    }
        
    strong {
        padding: 0 .3em;
        background-color: $prime;
        color: $secondary;
    }

    em {
        padding: 0 .3em;
        background-color: $prime;
        color: $secondary;
        font-weight: 900;
    }
    
    a {
        padding: 0 .3em;
        background-color: $prime;
        color: $secondary;
        
        &:active {
            background-color: $secondary;
            color: $prime;
        }
        
        &.img {
            background-color: rgba(0,0,0,0);
        }
    }
}

.imgwrap {
//    background-color: #f88;
    text-align: center;
    
    a.img {
        padding: 0;
//        background-color: #8ff;
        display: inline-block;
        height: 5em;
        width: 8em;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        
        &:hover {
            &:after {
                display: inline-block;
                height: 5em;
                width: 8em;
                background-color: rgba(0,0,0,0.5);
                content: "\Ago to post \A→";
                white-space: pre;
                font-weight: 900;
            }
        }
    }
}

.hdimgwrap{
    text-align: center;
    .hdimg {
        max-width: 100%;
        max-height: 20em;
    }
}

#gototop {
    background-color: $prime;
    font-weight: 900;
    width: 6em;
    padding: .625em .5em;
    font-size: 1.2em;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    margin-top: 2em;
    margin-right: 1.5em;
    border-radius: 1px;
    
    a {
        color: white;
    }
    
    &:active {
        background-color: $prime2;
    }
}

@media only screen and (max-width: 1070px) {  //collapse menu at width 1420px or smaller (that's when menu breaks)
    .title {
        display: none!important;
//        visibility: hidden;
    }
    .titlebar {
        display: inline-block;
        height: 12em;
        .menuL {
            display: block;
            text-align: center;
        }
        a.links {
            display: block;
        }
    }
    .wrap {
        margin-top: 7.75em !important;
    }
}





