<!doctype html>
<html lang="en">
<head>
    {% include headinfo.html %}
</head>
<body>
    {% include titlebar.html %}
    <div class="body">
        <div class="wrap">
            <div class="hdimgwrap">
                <a href="{{ site.baseurl }}/assets/hd/{{page.img}}"><img class="hdimg" src="{{ site.baseurl }}/assets/hd/{{page.img}}" /></a>
            </div>
            <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
            {{ content }}
        </div>
    </div>
</body>
</html>